
/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
  }
  
  button, summary {
	  cursor: pointer;
  }
  
 
/****************/
/* ALGEMENE STYLING */
/****************/

/* jouw code */

@font-face {
	font-family: "MirageMedium";
    src: url("../fonts/MirageMedium.otf");
    font-style: normal;
}


:root{
	margin: 0;
	font-family: "MirageMedium";

}

  :root {
	  /* startje */
	  --color-text:#111;
	  --color-background:rgb(230, 222, 222);
  }
  
  body {
	  margin:0;
  }
  
  
  /********/
  /* Header */
  /********/
  
header {
	position: fixed;
	left:0;
	right: 0;
	background-color: #7d69ac;
	padding: .5em;
	font-size: large;
	z-index:100;

}

header nav {

}

header nav ul {
	display: flex;
	justify-content: end;

	
	margin:0;
	padding:0;
	list-style: none;
}

header nav li{
	
	
	
}

header nav li a{
	display:block;

	padding:1em;
	text-decoration: none;

	color: white;
}






/**********/
/* FOOTER */
/**********/


footer{
	position: relative;
	width: 100%;
	justify-content: center;
	text-decoration: none;
}

footer section ul {
	position: fixed;
	left: -9999em;
	list-style-type: none;
	justify-content: center;
	text-decoration: none; 
}

 @media (min-width: 18em) {
	footer {
		display: flex;
		gap: 1em;
	}

	footer section ul {
		position: static;

	}
} 
footer img:first-of-type{
	width: 90em;
	position: absolute;
	bottom:-30em;

}

.logofooter{
	display: flex;
	justify-content: left;
}

footer nav li a {
	text-decoration: none;
}