/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}


/****************/
/* ALGEMENE STYLING */
/****************/


@font-face {
	font-family: "MirageMedium";
	src: url("../fonts/MirageMedium.otf");
	font-style: normal;
}


:root {
	margin: 0;
	font-family: "MirageMedium";

}

:root {
	/* startje */
	--color-text: #111;
	--color-background: (#f7f7f7);
	--hoofdkleur: rebeccapurple;
	--kleurnavbar: linear-gradient(#7d69ac, #7d69ac88);
	--color-text-footer: #7D69AC;
	--color-buttons: #93d1f4;
	--color-bttons-hover: #4eb8f5;
	--color-h2: #3b2774;

}

body {
	margin: 0;
	background-color: var(--color-background);
}


/**************/
/* DARK THEME */
/**************/

/* helaas niet genoeg tijd voor gehad.. */



/********/
/* Header */
/********/

header img {
	max-width: 3.5em;
	margin-left: auto;
	margin-right: auto;
}


/* staat in de mediaquery */
header {
	display: flex;
	justify-content: space-between;
	/* Nu komt er ruimte tussen inplaats van alles aan het einde */
	position: fixed;
	left: 0;
	right: 0;
	padding: .5em;
	font-size: large;
	z-index: 100;
	background-image: var(--kleurnavbar);
	min-height: 4em;
	align-items: center;
	padding: 0 1em;
}

header button {
	position: relative;
	z-index: 100;
	border: none;
	background: none;

}

header button img {
	max-width: 1.7em;
}


header nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	background-image: var(--kleurnavbar);

	margin: 0;
	padding: 5em 1em 1em 1em;
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 1px;

}

header nav li a {
	display: block;
	padding: 1em;
	text-decoration: none;
	color: white;
}


nav {
	display: flex;
	position: fixed;
	inset: 0;
	transform: translate(-100%);
}

nav.open {
	transform: translate(0%);
}

header nav {
	position: fixed;
	inset: 0;
	transform: translateX(-100%);
	transition: .3s;
}

header nav.open {
	transform: translateX(0%);
}

header nav ul li a {
	display: block;
	padding: 1em;

}



@media (max-width: 40em) {
	header nav {
		justify-content: flex-start;
	}

	nav ul {
		justify-content: flex-start;
	}
}



/* header a {} */

@media (min-width:40em) {
	header button {
		display: none;
	}

	header nav {
		position: static;
		transform: none;
	}

	header nav ul {
		padding: 0;
		flex-direction: row;
	}

	header img {
		margin-left: 1em;

	}
}



/**********/
/* FOOTER */
/**********/


/* Code voor footer mobiel */

footer {
	color: var(--color-background);
}

footer {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

footer section {
	padding: 0 1em;
}

footer section:first-of-type ul li a,
footer section:nth-of-type(2) ul li a,
footer section:nth-of-type(3) ul li a {
	text-decoration: none;
	color: #7d69ac;
}

/* footer section:nth-of-type(2) {} */

footer section>a {
	display: block;
	text-transform: uppercase;
	/* Zodat het allemaal hoofdletters worden */
	text-decoration: none;
	text-align: center;

	/* witruimte onder de a - tot het streepje */
	padding-bottom: 1em;
}

/* de a's direct in een section - maar niet in de laatste section - hebben een streepje aan de onderkant */
footer section:not(:last-of-type)>a {
	border-bottom: 1px solid #7d69ac;
}

footer section ul {
	display: none;
	/* Zorgen dat de subkopjes niet meer zichtbaar zijn */
}


/* plaatje onderaan */
footer img {
	display: block;
	width: 100%;
}




@media (min-width:40em) {
	footer {
		/* section naast elkaar */
		flex-direction: row;
		/* en in het midden */
		justify-content: center;
		/* de afbeedling is 100% breed */
		/* en mag met wrap op zijn eigen regel */
		/* en blijft dus zo breed als het scherm */
		flex-wrap: wrap;
	}

	footer section>a {
		text-align: left;
	}

	/* nu alle a's een streepje */
	footer section>a {
		border-bottom: 1px solid #3b2774;
	}

	footer section ul {
		/* de ul is zichtbaar */
		display: block;
		padding: 0;
		list-style: none;
		/* flex-direction:row; */
	}


}

footer div li a {

	margin: 0;
	padding: 0;
	color: #7d69ac;
	margin: 0.5em;
	text-decoration: none;
	font-size: small;

}

footer div li {
	display: inline-block;
}

footer div img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 10em;


}