/********/
/* MAIN */
/********/




/* section 1 */

main section:nth-of-type(1){
    position: relative;
}

main section:nth-of-type(1) img{
	
    width: 100%; 
    display: block;
    

}

main section:nth-of-type(1) div{
    color: white;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: center;
    font-size: xx-large;
}



/* section 2 */



main section:nth-of-type(2) h2{
    text-align: center;
    color: #3b2774;
    font-size: xx-large;
}

main section:nth-of-type(2) p{
    text-align: center;
    color: #3b2774;;
}


/* section 3 */


main section:nth-of-type(3) ul{
    display: flex;
    
    
}

main section:nth-of-type(3) li {
    display:flex;
    flex-direction:column;
    gap:.25em;
    
}


main ul:nth-of-type(1) li {
    display:flex;
    justify-content:center;
    align-items:center;

  }

main ul:nth-of-type(1) img {
    max-width: 100%;
  }



main ul:nth-of-type(2) li {
    display:flex;
    justify-content:center;
    align-items:center;
  

  }

main ul:nth-of-type(2) img {
      max-width: 100%;
  }

main ul:nth-of-type(1) button {
    background-color: #93d1f4;

    border-radius: 22px;
    padding: 1em; 
    list-style: none;
    padding-left: 2em;
    padding-right: 2em;
    font-family: "MirageMedium";
    color: #3b2774;
    font-size: larger;
    border:none;
}

main ul:nth-of-type(2) button {
    background-color: #93d1f4;
   
    border-radius: 22px;
    padding: 1em;
    list-style: none;
    padding-left: 2em;
    padding-right: 2em;
    font-family: "MirageMedium";
    color: #3b2774;
    font-size: larger;
    border:none;
 
}

main section:nth-of-type(3) button:hover{
    transition: .2s;
    background-color: #4eb8f5;
  
}
  
/* section 4 */

main section:nth-of-type(4) h2{
    display: flex;
    justify-content: center;
    color: #3b2774;
    font-size: 3.5em;
}




/* section 5 */

main section:nth-of-type(5) img{
    display: flex;
    justify-content: center;
    width: 45em;
}

main section:nth-of-type(5) button{
    background-color: #93d1f4;

    border-radius: 22px;
    padding: 1em; 
    list-style: none;
    padding-left: 2em;
    padding-right: 2em;
    font-family: "MirageMedium";
    color: #3b2774;
    font-size: larger;
    border:none;
}




/* section 6 */

main section:nth-of-type(6){
    position: relative;
}

main section:nth-of-type(6) img{
	
    width: 100%; 
    display: block;
    margin-top: 1em;
    margin-bottom: 2em;
}

main section:nth-of-type(6) div{
    color: white;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: center;

   
}


